:host {
  width: 100%;
  height: 100%;

  .invoice-preview {
    display: flex;
    flex-direction: column;

    .preview-header {
      display: flex;
      flex-direction: column;
      
      span {
        margin-left: auto;
        margin-right: auto;
      }

      .preview-header-patient {
        display: flex;
        flex-direction: row;
      }
    }

    .address, .invoice-date {
      margin-left: auto;
      margin-right: auto;
    }

    .vseparator {
      border-bottom: solid 1px #888;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    table {
      margin-bottom: 16px;
      margin-top: 16px;
      width: 100%;
      height: fit-content;
      border: solid 1px #555;
      border-spacing: 0;
      border-collapse: collapse;

      thead {
        background-color: #9E9E9E;
        font-weight: 500;
      }

      tr {
        border-top: solid 1px #555;
        border-bottom: solid 1px #555;
      }

      .last-cell {
        border-left: solid 1px #555
      }
    }

    .span {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
