:host {
  display: flex;
  flex-direction: column;

  ag-grid-angular {
    height: 400px;
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
  }

  app-department-list {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .toolbar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
  }
}
